/**
 * The style of the widgets
 *
 * @version 1.0
 *
 * -----------
 *
 * Table of Contents
 *
 * A. Shortcodes
 * I. Recent Posts
 * II. Video
 * III. Reviews
 *
 * B. Widgets
 * I. RecentPosts Widget
 * II. Latest Videos Widget
 * III. Latest Comments Widget
 */

/**
 * Section I:: Recent Posts Shortcodes;
 */
.news-hub-shortcode-latest-video .entry-post .w-featured-image-details,
.news-hub-recent-articles .entry-post .w-featured-image-details{
    margin-bottom: 8px!important; /*Overwrite VC*/
}

/**
 * Section II: Video Shortcodes;
 */
.news-hub-shortcode-latest-video .entry-post .w-featured-image-entry-header-categories li{
    margin-top: 0;
}

.news-hub-shortcode-latest-video .entry-post .w-featured-image-entry-header-categories{
    margin: 0;
}
/**
 * Section III: Reviews;
 */

.news-hub-reviews h6{
    font-size: 11px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
}


.news-hub-reviews .w-featured-image-details li span{
    font-size: 11px;
}
.news-hub-shortcode-latest-video .hentry{
    margin-bottom: 0;
}

.news-hub-shortcode-latest-video .entry-post .single-post-category .nh-non-bubble{
    font-size: 13px;
}

/*Section I. RecentPost Widget*/
.widget_newshubrecentposts .entry-post img
{
    padding: 2px;

    border: 1px solid #e1e1e1;
    background: #fff;
}

.entry-post .latest-post-widget-meta .vertical-sepator
{
    font-size: 9px;
}

.latest-post-widget-meta
{
    display: inline-block;
    width: 113%;
    margin-bottom: -3px;
}

.entry-post .latest-post-widget-meta .date,
.entry-post .single-post-category .nh-non-bubble
{
    font-size: 11px;
    line-height: 1;

    display: block;

    margin-top: 0;
    margin-bottom: 0;
}

.entry-post .latest-post-widget-meta .single-post-category .nh-non-bubble {
    font-size: 10px;
}

.entry-post .latest-post-widget-meta .date{
    font-size: 10px;
}

.widget_newshubrecentposts .entry-post .w-featured-image-entry-header-categories li
{
    margin: 0;
    list-style: none;
}

.widget_newshubrecentposts li.entry-post
{
    margin-bottom: 15px;
    padding-bottom: 15px;

    border-bottom: 1px solid #e1e1e1;
    list-style: none;
}

#footer-widgets .widget_newshubrecentposts li.entry-post {
    border-bottom: 0;
    list-style: none;
    margin-bottom: 0;
}

#footer-widgets .widget_newshubrecentposts li.entry-post a.black {
    color: #ddd;
}

.widget_newshubrecentposts li.entry-post h6{
    margin-bottom: 0;
}

.widget.widget_newshubrecentposts li.last
{
    border-bottom: none;
}

/*Section II: Latest Videos Widget*/

.widget-latest-videos li.hentry
{
    margin-bottom: 15px;
    list-style: none;
}

.news-hub .widget_newshubpopularvideos .entry-post .w-featured-image-entry-header,
.news-hub .widget_newshublastestvideos .entry-post .w-featured-image-entry-header,
.single .widget_newshubpopularvideos .entry-post .w-featured-image-entry-header,
.single .widget_newshublastestvideos .entry-post .w-featured-image-entry-header
{
    width: 100%;
    bottom: 0;
    padding: 0 15px 15px;
}

.widget_newshublastestvideos .fa-play
{
    font-size: 10px;

    top: 1px;
    left: 2px;
}

.widget_newshublastestvideos .fa-circle-thin
{
    font-size: 2.1em;
}

.widget_newshublastestvideos  h6
{
    margin-bottom: 0;
    margin-left: 10px;
}

/*Section II: Latest Comments Widget*/
.widget_newshublatestcomments .comment-author-name
{
    font-weight: 400;

    margin-bottom: 8px;
}

.widget_newshublatestcomments .comment-content
{
    font-size: 13px;
}

.widget_newshublatestcomments .comment-author-time
{
    font-size: 11px;

    display: block;

    margin-top: 1px;
}

.widget_newshublatestcomments .comment-content-linked {
    color: #777;
}

.widget_newshublatestcomments li
{
    margin-bottom: 15px;
}

/*Section III: Popular Posts*/
.popular-posts ul.popular li.hentry{
	border-bottom: 1px solid #e1e1e1;
}
